{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h1> Мой список дел </h1>
    <p> Пожалуйста, используйте следующую форму для добавления элементов списка дел: </p>
    <form action="/add_todo_item/" method = "post">
        {% csrf_token %}
        <table>{{ form|crispy }}</table>
        <input type="submit" value="Добавить пункт в список дел">
    </form>
    <ul>
        {% for item in all_items %}
            <li class="flex-row">
                <form action="/delete_todo_item/{{item.id}}/" method = "post" class="d-inline-block p-2">
                    {% csrf_token %}
                    <input type="submit" value="Удалить">
                </form>
                <form action="/cross_out_todo_item/{{item.id}}/" method = "post" class="d-inline-block p-2">
                    {% csrf_token %}
                    <input type="submit" value="Вычеркнуть">
                </form>
                <span class="d-inline-block p-2">
                    {% if item.is_crossed_out %}
                        <del>{{item.content}}</del>
                    {% else %}
                        {{item.content}}
                    {% endif %}
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}